{% extends 'base.html.twig' %}

{% block title %}Mon compte - Modifier mon mot de passe - la boutique française{% endblock %}

{% block content %}
    <h1>Mon Compte - Modifier mon mot de passe</h1>
    <hr>
    <h2>{{ app.user.firstname }}</h2>
    <h2>{{ app.user.lastname }}</h2>
    <h2>{{ app.user.email }}</h2>
        {{ form(form) }}
    <button type="submit" class="btn btn-primary mt-2 mb-4 ">Actualiser le mot de passe</button>
    <hr>
    <a href="{{ path('app_account') }}">Retourner à mon compte</a><br />
{% endblock %}
